@use './roots/' as *;

.about{
	margin-bottom: 116px;
	@media screen and (min-width:1024px) {
		margin-bottom: 200px;
	}
	&__container{
		display: flex;
		flex-direction: column;
		gap: 64px;
		@media screen and (min-width:1024px) {
			flex-direction:row ;			
		}
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			gap: 32px;
		}
		@media screen and (min-width:1240px) {
			gap: 42px;
		}
	}
	&__img{
		position: relative;
		width: 100%;
		aspect-ratio: 3/4;
		@media screen and (min-width:1240px) {
			width: 41%;
		}
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			width: 45%;
		}
		@media screen and (max-width:1023.9px) {
			padding-top: 24px;
		}
		img{
			width: 100%;
			max-width: 100%;
			max-height: 100%;			
			position: relative;
			z-index: 2;
			height: 100%;
			object-fit: cover;
			@media screen and (max-width:1023px) {
				width: calc(100% - 24px);
				margin-left: auto;
			}
		}
		&:after{
			content: '';
			width: 100%;
			height: 100%;
			background-color: transparent;
			border: 1px solid $accent;
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 1;
			@media screen and (min-width:1024px)  and (max-width:1239.9px){
				top: 16px;
			left: -16px;
			}
			@media screen and (min-width:1240px) {
				top: 40px;
				left: -40px;
			}
		}
	}
	&__content{
			@media screen and (min-width:1240px) {
			width: 54%;
		}
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			width: 51%;
		}
		
		& p, ul, ol{
			font-size: 16px;
			font-style: normal;
			font-weight: 300;
			line-height: 26px;
			color: $gray-100;
			margin-bottom: 24px;
			@media screen and (min-width:1024px) {
				
			}
		}
		h1{
			font-size: 28px;
			font-style: normal;
			font-weight: 300;
			line-height: 40px;
			color: $gray-100;
			margin-bottom: 12px;
			strong{
				color: $black;
				font-weight: 700;
			}
			@media screen and (min-width:1024px) {
				font-size: 42px;
				line-height: 46.2px;
				margin-bottom: 32px;
			}
		}
		&__sing{
			display: flex;
			align-items: center;
			gap: 16px;
			margin-bottom: 32px;
			div{
				height: 1px;
				width:60px;
				background-color: $accent;
			}
			span{
				font-size: 14px;
				font-style: italic;
				font-weight: 500;
				line-height: 21px;
			}
		}
		&__text{
			margin-bottom: 32px;
		}
		&__count{
			display: flex;
			gap: 16px;
			justify-content: space-around;
			&__item{
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				gap: 12px;
				color: $accent;
				text-align: center;
				width: fit-content;
				
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px; /* 150% */
				letter-spacing: 1.4px;
				text-transform: uppercase;
				color: $accent;
				
				*{
					color: $accent;
				}
				// span{
				// 	font-size: 12px;
				// 	font-style: normal;
				// 	font-weight: 400;
				// 	line-height: 18px; /* 150% */
				// 	letter-spacing: 1.4px;
				// 	text-transform: uppercase;
				// 	color: $accent;
				// }
				& div{
					display: flex;
					align-items: center;
					
						font-family: "Manrope";
						font-size: 32px;
						font-style: normal;
						font-weight: 700;
						line-height: 32px;
					
				
				}
			}
		}
	}

}