@use './roots/' as *;
.advantages{
	margin-bottom: 200px;
	&__items{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
		@media screen and (min-width:1024px) {
			display: flex;
			align-items: center;
			justify-content: space-around;
			gap: 32px;
		}
	}
	&__item{
		display: flex;
		flex-direction: column;
		gap: 24px;
		align-items: center;
		justify-content: center;
		padding: 16px;
		&__icon{
			max-width: 48px;
			max-height: 48px;
			aspect-ratio: 1;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $accent-100;
			border-radius: 50%;
		}
		&__content{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			gap: 8px;
			flex-grow: 1;
			height: 100%;
			div{
				font-family: "Manrope";
				font-size: 14px;
				font-style: normal;
				font-weight: 700;
				line-height: 17.5px; 
				letter-spacing: 0.6px;
				text-transform: uppercase;
				@media screen and (min-width:768px) {
					font-size: 18px;
					line-height: 27px; 
					text-transform: none;
				}
			}
			span{
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 15px;
				color: $gray;
				padding: 0 10px;
				@media screen and (min-width:768px) {
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 21px;
				}
			}
		}
	}
}