@use './roots/' as *;
.animation{
	padding: 32px 0;
	.marquee__wrap span{
		font-family: "Manrope";
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px; 
		letter-spacing: -1.2px;
		text-transform: uppercase;
		color: $gray;
		@media screen and (min-width:768px) {
			font-size: 24px;
		}
	}
}
.marquee{
	overflow: hidden;
	position: relative;
	z-index: 0;
	@media screen and (max-width:767.9px) {
		margin-left: -16px ;
		margin-right: -16px ;
	}
	&__wrap{
		display: flex;
		width: max-content;
		align-items: center;
		transition: .3s linear;
		animation: marqueeLine var(--_animation-duration, 40s) var(--_animation-direction, normal) linear infinite;
		gap:60px;

			@media screen and (min-width:768px) {
				width: 100%;
				justify-content: space-between;
				animation: none;

			}
		
		}
	span{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		
	}
}
@keyframes marqueeLine {
	to{
		transform: translate(calc(-50% - 30px));
	}
}
@keyframes marqueeLineMob {
	to{
		transform: translate(calc(-50% - 30px));
	}
}
