@use './roots' as *;
.brands{
	margin-bottom: 120px;
	ul.brands__alphabet{
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		padding-bottom: 30px;
		border-bottom: 0.615px solid var(--Color-for-Line, #E5E5E5);
		background: rgba(253, 252, 248, 0.00);
		@media screen and  (max-width: 768px) {
  
    column-width: 160px;
    column-gap: 32px;  
}
@media (max-width: 480px) {
  
    column-width: auto;
    columns: 1;
  
}
		li{
			padding: 10px 16px;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 24px;
			text-transform: uppercase;
			color: #E8DCC6;
			transition: 600ms ease-out;
			cursor: pointer;
			&.active{
				color: $black;
			}
			&:hover{
				color: $accent;
			}
		}
	}
	&__list{
		 display: block;
    column-width: 220px;
    column-gap: 48px;
		padding-top: 48px;

		&__wrap{
			display: flex;
			flex-direction: column;
			gap: 24px;
			margin-bottom: 48px;
			break-inside: avoid;
			span{
				font-family: "Manrope";
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: 36px; 
				text-transform: uppercase;
			}
			ul{
				display: flex;
				flex-direction: column;
				gap: 12px;
				li{
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 21px; /* 150% */
					letter-spacing: 0.35px;
					text-transform: uppercase;
					transition: 600ms ease-out;
					&:hover{
						color: $accent;
					}
				}
			}
		}
	}
}
.brand{
	&__container{
		margin-bottom: 44px;
		position: relative;
		padding: 252px 12px 12px 12px;
		@media screen and (min-width:768px) {
			margin-bottom: 32px;
		}
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			padding: 246px 18px 18px 18px;
		}
		@media screen and (min-width:1240px)  {
			padding: 320px 924px 24px 24px;
		}
	}
	&__img{
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
	&__name{
		display: flex;
		align-items: flex-end;
		gap: 7px;
		color: $white;
		position: relative;
		z-index: 1;
		h1{
			color: inherit;
			font-family: "Manrope";
			font-size: 28px;
			font-style: normal;
			font-weight: 700;
			line-height: 46.154px; /* 164.835% */
			letter-spacing: -1.154px;
			text-transform: uppercase;
			@media screen and (min-width:1024px) and (max-width:1239.9px) {
				font-size: 44px;
			}
			@media screen and (min-width:1240px) {
				font-size: 60px;
				line-height: 60px;
			}
		}
		& span{
			font-family: "Manrope";
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 38.154px; 
			letter-spacing: -1.154px;
			text-transform: uppercase;
			@media screen and (min-width:1024px) and (max-width:1239.9px) {
				font-size: 18px;
			}
			@media screen and (min-width:1240px) {
				font-size: 24px;
				// line-height: 48px; 
			}
		}
	}
}
