@use './roots/' as *;
.cart{
	margin-bottom: 120px;
	&__title{
		display: flex;
		align-items: center;
		gap: 18px;
		padding: 31px 0 18px;
		
		@media screen and (min-width:1024px) {
			padding-top: 43px;		
			margin-bottom: 38px;
		}
		@media screen and (min-width:1240px) {
			padding-bottom: 46px;
			
		}
		@media screen and (min-width:1024px) and (max-width:1239.9px)  {
			border-bottom: 0.615px solid  $white-200;
			
		}
		span{
			font-family: "Manrope";
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 28px; /* 155.556% */
			letter-spacing: 3.6px;
			text-transform: lowercase;
			color: $gray;
		}
	
	}
	&-return{
		text-align: center;
		font-family: "Manrope", sans-serif;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: 16px; 
		letter-spacing: 1.2px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		gap: 10px;
		@media screen and (max-width:1023.9px) {
			display: none;
		}
	}
	&__content{
		& .woocommerce{
			display: flex;
			flex-direction: column;
			gap: 32px;
			@media screen and (min-width:1024px) {
				flex-direction: row;
			}
			.basket{
					@media screen and (min-width:1024px) {
						width: 64%;
					}
					&-order__promo-input{
					display: flex;
					gap: 8px;
					padding-bottom: 32px;
					border-bottom: 0.615px solid $white-200;
					margin-bottom: 22px;
					input{
							border-radius: 6px;
							background: $white;
							color: rgba(10, 10, 10, 0.50);
							font-family: "Manrope";
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							text-transform: uppercase;
							padding: 10px 16px;
							outline: none;
							border: none;
						width: calc(100% - 58px);
					}
					.basket-order__promo-button{
							display: flex;
							align-items: center;
							justify-content: center;
							background-color: $black;
							padding: 9px 16px 10px;
							color: $white;
							font-size: 12px;
							font-style: normal;
							font-weight: 700;
							line-height: 18px; 
							letter-spacing: 0.6px;
							text-transform: uppercase;
							border-radius: 6px;
							max-width: 50px;
							width: 100%;
						}
					}
				}
			& .cart-collaterals{
				padding: 24px; 
				background-color: $white-400;
				@media screen and (min-width:1024px) {
					width: 32%;
				}
				h2{
					font-size: 18px;
					font-style: normal;
					font-weight: 700;
					line-height: 27px;
					letter-spacing: 0.45px;
					text-transform: uppercase;
					margin-bottom: 17px;
					padding-bottom: 24px;
					border-bottom: 0.615px solid $white-200;
				}
				table{
					width: 100%;
				}
				.btn{
					max-width: 100%;
					width: 100%;
					padding: 16px;
					font-size: 14px;
					font-style: normal;
					font-weight: 700;
					line-height: 20px; 
					letter-spacing: 1.4px;
					text-transform: uppercase;
				}
				tr.cart-subtotal{		
													
					th{
						font-family: "Manrope";
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 21px;
						text-align: left;
						&:nth-of-type(1){
						padding-bottom: 15px;
					}
						&:nth-of-type(2){
						padding-bottom: 24px;
					}
					}
					td{
						font-family: "Manrope";
						font-size: 14px;
						font-style: normal;
						font-weight: 700;
						line-height: 21px; 
						text-align: end;
						&:nth-of-type(1){
						padding-bottom: 15px;
					}
						&:nth-of-type(2){
						padding-bottom: 24px;
					}
					}
				}
				tr.order-total{
					border-collapse: separate;
					border-spacing: 0 10px;
					th{
						font-family: "Manrope";
						font-size: 14px;
						font-style: normal;
						font-weight: 700;
						line-height: 21px; 
						letter-spacing: 0.35px;
						text-transform: uppercase;
						text-align: left;
						padding-bottom: 24px;
					}
					td{
						text-align: end;
						font-family: "Manrope";
						font-size: 24px;
						font-style: normal;
						font-weight: 700;
						line-height: 24px;
						padding-bottom: 24px;
					}
				}
				.order-procced-button{
					td{
						padding-bottom: 24px;
					}
				}				
				.privacy-check{
					font-family: "Manrope";
					font-size: 10px;
					font-style: normal;
					font-weight: 400;
					line-height: 16.25px;
					color: $gray;
					text-align: center;
					a{
						text-decoration: underline;
						transition: 600ms ease-out;
						&:hover{
							color: $accent;
						}
					}
				}
			}

		}

	}
	&-table{	
		width: 100%;
		thead{
			th, td{
				font-size: 12px;
				font-style: normal;
				font-weight: 700;
				line-height: 18px; /* 150% */
				letter-spacing: 1.2px;
				text-transform: uppercase;
				color: $gray;
				padding: 0 24px 17px 0;				
				text-align: left;		
				
			}
			@media screen and (max-width:1023.9px) {
				display: none;
			}
		}

		tr{
				td{
				font-family: "Manrope", sans-serif;
				border-top: 0.615px solid  $white-200;
				padding: 24px 24px 24px 0;
					@media screen and (min-width:1024px) and (max-width:1239.9px) {
						padding: 24px 12px 24px 0;
					}
				&:nth-of-type(1){
					a{
						max-width: 95px;	
						display: inline-block;
						aspect-ratio: 3 / 4;
					}		
					img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				}
				&:nth-of-type(2){
					span{
						display: block;
						&:nth-of-type(1){
							font-size: 10px;
							font-style: normal;
							font-weight: 700;
							line-height: 15px; 
							letter-spacing: 0.5px;
							text-transform: uppercase;
							color: $gray;
								margin-bottom: 4px;
						}
						&:nth-of-type(2){
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: 18px;
							margin-bottom: 0;
							color: $gray-100;
						}
						
					}
					a{
						font-size: 16px;
						font-style: normal;
						font-weight: 700;
						line-height: 20px; 
						text-transform: uppercase;
						margin-bottom: 4px;
					}
				}
				&:nth-of-type(3){
					
				}
				&:nth-of-type(4),				
				&:nth-of-type(5){		
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: 24px;	
						@media screen and (max-width:768px) {
						padding: 0;
					}				
				}
				&:nth-of-type(5){
					
					font-weight: 700;
				}
			&:nth-last-of-type(1) {
					@media screen and (min-width: 1240px) {
						display: none;
					}
				}


				&:hover{
					.basket__item__counter .remove-item{
						opacity: 1;
						visibility: visible;
					}
				}
			}
			.basket__item__counter{
				display: flex;
				align-items: center;
				gap: 12px;
				.counter{
					padding:11px 10px;	
					width: 96px;	
					border-radius: 100px;	
					svg{
						max-width: 10px;
					}	
					input{
						font-size: 14px;
						line-height: 17.231px;
					}
				}
				.remove-item{
					opacity: 0;
					visibility: hidden;
					transition: 600ms ease-out;
					@media screen and (max-width:1239.9px) {
						display: none;
					}
				}
			}
		}
		@media (max-width: 768px) {
	display: block;
	tbody, td{
		display: block;
	}
	tr{
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		align-items: center;
		border-top: 0.615px solid  $white-200;
	}
	td{
		border: none;
		&:nth-of-type(1){
			max-width: 95px;
			border: none;
			padding: 0;
		}
		&:nth-of-type(2){
			width: calc(100% - 120px);
			border: none;
			padding: 0;
		}
		&:nth-of-type(3){
			width: fit-content;
			border: none;
			padding: 0;
		}
		&:nth-of-type(4){
			width: fit-content;
			border: none;
			padding: 0;
		}
		&:nth-of-type(5){
			display: none;
			padding: 0;
		}
		&:nth-of-type(6){
			width: fit-content;
			margin-left: auto;
			border: none;
			padding: 0;
		}
	}

}
	}

}
.remove-item{
	padding: 0;
	width: 16px;
	outline: none;
	background-color: transparent;
}