@use './roots' as *;
.care{
	background-color: $primary-100;
	&__container{
		display: flex;
		flex-direction: column;
		gap:32px;
		color: $white;
		@media screen and (min-width:992px) {
			gap: 64px;
			flex-direction: row;
			align-items: center;
		}

	}
	&__img{
		width: 100%;
		
		aspect-ratio: 5 / 6;
		@media screen and (max-width:549.9px) {
			max-height: 397px;
		}
		@media screen and (min-width:992px) {
			width: 50%;
			max-height: 750px;
		}
		img{
			width: 100%;
			height: 100%;
			max-height: 100%;
			max-width: 100%;
		}
	}
	&__content{
		width: 100%;
		display: flex;
		flex-direction: column;
		@media screen and (min-width:992px) {
			width: 44%;
		}
		svg{
			width: 63px;
			height: 43px;
			margin-bottom: 24px;
		}

		.title{
			margin-bottom: 12px;
		}
		p, ul{
			@include p-xl;
			margin-bottom: 24px;
			
			&:nth-last-of-type(1){
				margin-bottom: 48px;
			}
			
		}
		
	}
}