@use './roots/' as *;
.checkout{
	margin-bottom: 120px;
	&__title{
		display: flex;
		align-items: center;
		gap: 16px;
		padding: 46px 0;
		@media screen and (min-width:1240px) {
			padding: 64px 0 46px;
		}
	}
	&__content{
		.checkout__wrapper{
			display: flex;
			flex-direction: column;
			gap: 32px;
			@media screen and (min-width:1024px) {
				flex-direction: row;
			}
			&-left{
				@media screen and (min-width:1024px) {
						width: 64%;
					}
					.woocommerce-billing-fields__field-wrapper{
						display: flex;
						flex-wrap: wrap;
						gap: 32px;
						margin-bottom: 64px;
					}
					.form-row{
						width: 100%;
						@media screen and (min-width:1024px) {
							width: calc(50% - 16px);
						}
						display: flex;
						flex-direction: column;
						gap: 7px;
						label{
							font-family: "Manrope";
								font-size: 10px;
								font-style: normal;
								font-weight: 700;
								line-height: 15px;
								letter-spacing: 1px;
								text-transform: uppercase;
								color: $gray;
								span{
									color: $black;
								}
						}
						input,
						select, textarea{
							width: 100%;
							padding: 8px 0;
							border: none;
							outline: none;
							border-bottom: 1px solid $white-200;
							color: #C5C4C4;
							font-family: "Manrope", sans-serif;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							::placeholder{
								color: #C5C4C4;
								font-family: "Manrope", sans-serif;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								opacity: 1;
							}
						}
						
					}
					.shipping-method{
						margin-bottom: 64px;
						display: flex;
						flex-direction: column;
						gap: 32px;
					}
					.shipping-method__list{
						display: flex;
						flex-wrap: wrap;
						gap: 16px;
						
						li{
							position: relative;
							display: flex;
							gap: 16px;
							align-items: center;
							padding: 16px;
							border-radius: 6px;
							cursor: pointer;
							transition: 600ms ease-out;
							border: 0.615px solid $white-200;
							width: 100%;
							@media screen and (min-width:768px) {
								width: calc(50% - 8px);
							}
							&:has(input[type="radio"]:checked) {
								background-color: $black; /* новий колір для вибраного li */
								border-color: $black;
								color: $white;
								span:has(svg){
									background-color: $white;
									svg{
										path{
											stroke:$black;
										}
									}
								}
							}
							& input{
								cursor: pointer;
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								opacity: 0;
								padding: 0;
								margin: 0;
								z-index: 1;
							}
							span:has(svg){
								display: flex;
								align-items: center;
								justify-content: center;
								border-radius: 50%;
								width: 36px;
								height: 36px;
								background-color: $accent;
								transition: 600ms ease-out;
								aspect-ratio: 1;
								svg{
									path{
											stroke:white;
										}
								*{
									transition: 600ms ease-out;
								}
							}
							}
							label{
								display: flex;
								flex-direction: column;
								font-family: "Manrope";
								font-size: 14px;
								font-style: normal;
								font-weight: 700;
								line-height: 21px; /* 150% */
								letter-spacing: 0.35px;
								text-transform: uppercase;
								span{
									font-size: 12px;
									font-weight: 400;
									line-height: 18px;
									text-transform: none;
								}
							}
						}
					}
					.delivery-address{
						display:flex;
						flex-wrap: wrap;
						gap: 32px;
				
					}
						input,
						select, textarea{
							width: 100%;
							padding: 8px 0;
							border: none;
							outline: none;
							border-bottom: 1px solid $white-200;
							color: #C5C4C4;
							font-family: "Manrope", sans-serif;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							::placeholder{
								color: #C5C4C4;
								font-family: "Manrope", sans-serif;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
							}
						}
						textarea{
							min-height: 150px;
							resize: none;
							border: 0.615px solid $white-200;
							padding: 16px;
						}
						.order-comment__title{
							color: var(--Black, #111);
							font-family: "Manrope", sans-serif;
							font-size: 14px;
							font-style: normal;
							font-weight: 700;
							line-height: 21px; 
							letter-spacing: 0.35px;
							text-transform: uppercase;
							margin-bottom: 16px;
						}
						.payment{
								margin-bottom: 64px;
								&__title{
									margin-bottom: 32px;
								}
								&__methods{
									display: flex;
									flex-direction: column;
									gap: 16px;
								label{
									position: relative;
									padding-left: 36px;
								}
								input[type="radio"]{
									position: absolute;
									left: 0;
									top: 0;
									width: 20px;
									height: 20px;
									border: 0.692px solid #C5C4C4;
									border-radius: 50%;
									accent-color: $black;
									transition: 600ms ease-out;
								}
								span:not([class]){
									padding-left: 24px;
								}
								.payment-option__text{
									display: flex;
									align-items: center;
									gap: 8px;
									font-family: "Manrope", sans-serif;
									font-size: 14px;
									font-style: normal;
									font-weight: 700;
									line-height: 20px; /* 142.857% */
									letter-spacing: 0.35px;
									text-transform: uppercase;
									svg{
										width:16px;
									}
								}

								}
								
						}
			}
			&-right{
				padding: 24px; 
				background-color: $white-400;
				@media screen and (min-width:1024px) {
					width: 32%;
				}
				.cart__title-desk{
					font-family: "Manrope";
					font-size: 18px;
					font-style: normal;
					font-weight: 700;
					line-height: 28px; 
					letter-spacing: 0.45px;
					text-transform: uppercase;
					padding-bottom: 18px;
					border-bottom: 1px solid $white-200;
					margin-bottom: 26px;
				}
				.btn{
					text-transform:uppercase;
					padding: 16px;
					width: 100%;

				}
				table{
					width: 100%;
					border-collapse: collapse;
				
					tr {
						th, td{
							font-family: "Manrope", sans-serif;
							font-size: 14px;
							font-style: normal;							
							line-height: 20px;
							padding-bottom:16px;
						}
						th{
							text-align: left;							
							font-weight: 400;
							color: $gray-100;
						}
						td{
							font-weight: 700;
							text-align: right;
						}
					}
						.cart-delivery{
							th, td{
								padding-bottom: 26px;
								border-bottom: 1px solid $black;
							}
						}
						.order-total{
							th, td{
								padding-top: 37px;
								padding-bottom: 26px;
								font-weight: 700;
							}
							th{
							text-transform: uppercase;
							}
							td{
								font-size: 24px;
								line-height: 32px; 
							}
						}
				}
			}

		}
	}
}
.shipping_method-title-wrap{
	display: flex;
	align-items: center;
	gap:12px;
	padding-bottom: 10px;
	border-bottom: 0.615px solid $white-200;
	width: 100%;
	span{
		background-color: $black;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 24px;
		max-height: 24px;
		padding: 10px;
		color: $white;
		font-family: "Manrope";
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: 16px; /* 133.333% */
		letter-spacing: 0.45px;
		text-transform: uppercase;
	}
	h3{
		font-family: "Manrope", sans serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 27px; /* 150% */
		letter-spacing: 0.45px;
		text-transform: uppercase;
		@media screen and (min-width:1024px) {
			
		}
	}
}
