@use './roots/' as *;
.chief{
	position: relative;
	margin-bottom: 64px;
	@media screen and (min-width:1240px) {
		margin-bottom: 100px;
	}
	&:before{
		content: '';
		z-index: 1;
		background: rgba(0, 0, 0, 0.40);
	}
	&__bg, 
	&:before{
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		object-fit: cover;
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
	}
	&__container{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 160px 0;
		position: relative;
		flex-direction: column;
		gap: 24px;
		position: relative;
		z-index: 2;
	
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			padding: 195px 0;
		}
		@media screen and (min-width:1240px) {
			padding: 165px 0 220px;
		}
		
		img{
			max-width: 300px;
			width: 100%;
			@media screen and (min-width:1024px) {
				max-width: 610px;
			}
		}
		p{			
			font-style: normal;
			font-weight: 300;			
			letter-spacing: 0.6px;
			font-size: 16px;
			line-height: 24px;
			color: $white;
			text-align: center;
			@media screen and (min-width:1240px) {
				line-height: 39px; 				
			}
			@media screen and (min-width:1024px) {
				line-height: 36px; 
				font-size: 24px;
			}
		}
	}
	&__bg{
		object-fit: cover;
		z-index: 0;
	}
}