@use './roots/' as *;
.contacts{
	margin-bottom: 120px;
	&__container{
		max-width: 1210px;
		margin: 0 auto;
		width: 100%;
	}
	
	&__wrap{
		display: flex;
		flex-direction: column;
		gap: 42px;
		@media screen and (min-width:1024px) {
			flex-direction: row;
			gap: 32px;
			justify-content: space-between;
		}
	}
	&__info{
		display: flex;
		flex-direction: column;
		gap: 32px;
		@media screen and (min-width:1024px) {
			gap: 42px;
		}
		@media screen and (min-width:1024px) {
			width: 47%;
		}
		p{
			font-size: 16px;
			font-style: normal;
			font-weight: 300;
			line-height: 29.25px;
			color: $gray-100;
			@media   screen and (min-width:1024px){
				font-size: 18px;
			}
		}
	}
	&__items{
		display: flex;
		flex-direction: column;
		gap: 40px;
			@media screen and (min-width:1024px) and (max-width:1239.9px) {
			gap: 64px;
		}
		@media screen and (min-width:1240px) {
		gap: 32px;
		}
	}
	&__item{
		display: flex;
		gap: 24px;
		align-items: flex-start;
		&__img{
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid $accent;
			max-width:48px;
			max-height: 48px;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			aspect-ratio: 1;
			svg{
				max-width: 24px;
			}
		}
		&__info{
			div{
				margin-bottom: 8px;
			}
			&-name{
			color: $gray;
			font-family: "Manrope", sans-serif;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 21px; 
			letter-spacing: 0.7px;
			text-transform: uppercase;
			margin-bottom: 7px;
			}
		}
		&-phone{
			div{
				font-family: "Manrope", sans-serif;
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: 33px;
				margin-bottom: 5px;
			}
			a{
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: 24px;
				color: $accent;
				transition: 600ms ease-out;
				transition: background-size 600ms ease-out;
				text-decoration: none;
				background-image: linear-gradient($accent, $accent);
				background-repeat: no-repeat;
				background-size: 0% 1px;
				background-position: 0 100%;
				@media screen and (min-width:1024px) {
					font-size: 24px;
				}
				&:hover{
					background-size: 100% 1px;
				}
			}

		}
		&-social{
			div{
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 26px; 				
			}
			a{
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				display: flex;	
				align-items: center;
				margin-bottom: 8px;	
				gap: 8px;		
				line-height: 24px; 
				transition: 600ms linear;
				svg{
					transition: 600ms linear;
				}
				&:hover{
					svg{
						transform: translateX(10px);
					}
				 }
			}
		}
		&-local{
			div{
				font-family: "Manrope";
				font-size: 20px;
				font-style: normal;
				font-weight: 700;
				line-height: 30px; 
			}
			span{
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px; 
				columns: $gray-100;
			}
		}
	}
	&__form{
		padding: 24px;
		background-color: $white-400;
		position: relative;
		overflow: hidden;
		&:after{
			content: '';
			border-radius: 0 0 0 23726400px;
			opacity: 0.1;
			background: #C8B290;
			width: 255.993px;
			height: 255.993px;
			transform: rotate(-19.665deg);
			position: absolute;
			top:-17%;
			right: -26%;
			z-index: 1;
			@media screen and (max-width:1023.9px) {
				display: none;
			}
			@media screen and (min-width:1240px) {
				top:-17%;
			right: -22%;
			}
		}
		@media screen and (min-width:1024px) {
			padding: 32px;
		}
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			width: 50%;
		}
		@media screen and (min-width:1240px) {
			width: 44%;
		}
		div:not([class]){
			font-family: "Manrope";
				font-size: 32px;
				font-style: normal;
				font-weight: 700;
				line-height: 48px;
				margin-bottom: 15px;
		}
		p{
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 26px; 
			color: $gray-100;
			margin-bottom: 32px;
			@media screen and (min-width:1024px) {
			margin-bottom: 18px;
		}
		}
		form{
			display: flex;
			flex-direction: column;
			gap: 24px;
			.form-field{
				width: 100%;
				input, textarea{
					width: 100%;
					padding: 16px;				
					border-radius: 8px;
					border: 0.707px solid rgba(255, 255, 255, 0.10);
					background: var(--Background, #FDFCF8);
					color: rgba(10, 10, 10, 0.50);
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					outline: none;
				&::placeholder{
					color: rgba(10, 10, 10, 0.50);
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					opacity: 1;
				}
				&:focus-within{
					border-color: $accent;
				}

			}
			label{
				color: $gray;
				font-size: 12px;
				font-style: normal;
				font-weight: 300;
				line-height: 16px; 
				letter-spacing: 1.2px;
				text-transform: uppercase;
				margin-bottom: 8px;
			}
			textarea{
				resize: none;
				min-height: 120px;
			}
			}
			.form-submit{
				position: relative;
				gap: 8px;
				padding: 16px;
				margin: 8px auto 0 auto;
				cursor: pointer;
				max-width: 100%;
				width: 100%;
				@media screen and (min-width:1024px) {
						padding: 16px 43px;
						max-width: fit-content;
				}
				svg path{
					transition: 600ms ease-out;
				}
				&:hover{
					svg{
						path{
							stroke: $accent;
						}
					}
				}
				input{
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					opacity: 0;
					outline: none;
					border: none;
					padding: 0;
					cursor: pointer;
				}
			}
		}

	}
}