@use './roots/' as *;
.footer{
	
	@media screen and (min-width:1240px) {
		padding: 0 16px;
	}
	&__wrap{
		background-color: $accent;
		border-radius: 50px 50px 0 0;
	}
	&__container{		
		padding: 64px 0px;
		color: $white;
		@media screen and (min-width:1024px) {
			padding: 96px 16px;
		}
	}
	&__wrapper{
		display: flex;
		flex-direction: column;
		gap: 38px;
		margin-bottom: 56px;
		@media screen and (min-width:768px) {
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 96px;
		}

	}
	&__left{
		max-width: 534px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 18px;
		@media screen and (min-width:768px) {
			gap: 24px;
		}
		& .logo{
			width: 100%;
			max-height: 56px;
			height: 100%;
			@media screen and (max-width:767.9px) {
				max-width: 279px;
			}
		}
		div{
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 27px;
			@media screen and (min-width:768px) {
				font-size: 18px;
				line-height: 28px;
			}
		}
	}
	&__right{
		nav{
			ul{
				display: flex;
				flex-direction: column;
				gap: 16px;
				li{
					text-align: left;
					font-size: 16px;
					font-style: normal;
					font-weight: 300;
					line-height: 24px;
					@media screen and (min-width:768px) {
						text-align:right ;						
					}
					&.current-menu-item{
						font-weight: 600;
					}
				}
			}
		}
	}
	&__bottom{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		padding: 32px 0;
		flex-wrap: wrap;
		border-top: 0.615px solid rgba(255, 255, 255, 0.10);
		@media screen and (min-width:768px) {
			padding: 32px 0 42px 0;
		}
		@media screen and (max-width:767.9px) {
			flex-direction: column;
			align-items: center;
		}
		ul{
			display:flex;
			gap: 16px;
			flex-wrap: wrap;
			max-width: max-content;
			width: 100%;
			li{
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; 
				letter-spacing: 0.6px;
				text-transform: uppercase;
				width: fit-content;
			}
		}
		&__left{
			display: flex;
			align-items: center;
			gap: 2px;
			@media screen and (max-width:767.9px) {
			flex-direction: column;
			align-items: center;
		}
			ul{
				li{
					width: 100%;
				}
			}
		}
		&__right{
			ul{
				li{
					font-weight: 500;
				}
			}
		}
		
	}
}