@use './roots/' as *;
.header{
	position: relative;
	padding: 10px 0;
	border-bottom: 1px solid $primary-500;
	background-color: $primary-100;
	box-shadow: 0 8px 20px 0 rgba(78, 78, 78, 0.05), 0 6px 20px 0 rgba(78, 78, 78, 0.04);
	@media screen and (min-width:768px) {
		padding: 14px 0;
	}
	&__container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		@media screen and (min-width:768px) {
			margin-bottom: 14px;
		}
	}
	&__btns{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		flex-direction: column;
		min-width: fit-content;
		@media screen and (min-width:768px) {
			gap: 16px;
			flex-direction: row;
		}
	}
	.burger{
		display: flex;
		width: 32px;
		height: 32px;
		padding: 0 6.8px 0 7.2px;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1/1;
		border-radius: 8px;
		background: $white;
		position: relative;
		@media screen and (min-width:992px) {
			display: none;
		}
		span {
			position: absolute;
			left: 50%; 
			margin-left: -9px; 
			width: 18px;
			height: 2px;
			background-color: $primary-100;
			border-radius: 500px;
			transition: all 0.3s ease-in-out; 

			&:nth-of-type(1) {
				top: 11px;
			}

			&:nth-of-type(2) {
				bottom: 11px;
			}

			.open & {
				&:nth-of-type(1) {
				
					top: 50%;
					margin-top: -1px; 
					transform: rotate(45deg);
				}

				&:nth-of-type(2) {
					
					bottom: 50%;
					margin-bottom: -1px; 
					transform: rotate(-45deg);
				}
			}
		}
	}
	.search-btn{
		&__wrap{
			max-width: 1282px;
			width: 100%;
			padding: 0 16px;
			margin: 0 auto;
			position: fixed;
			top: 16px;
			right: 0;
			left: 0;
			margin-left: auto;
			margin-right: auto;
		}
		&-close{
			border-radius: 10px;
			margin-left: auto;
		background-color: transparent;
		padding: 8px;
		width: 32px;
		height: 32px;
		aspect-ratio: 1/1;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 600ms ease-out;
		background-color: $primary-200;
		@media screen and (min-width:768px) {
			width: 48px;
			height: 48px;
		}
		}
		border-radius: 10px;
		background-color: transparent;
		padding: 8px;
		width: 41px;
		height: 41px;
		aspect-ratio: 1/1;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 600ms ease-out;
		&:hover{
			background-color: $primary-200;
		}
	}
	.search-block{
		display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    position: fixed;
    text-align: center;
    -webkit-transition: .5s linear;
    transition: .5s linear;
    z-index: 50;
		background-color: rgba(9, 87, 195, 0.50);
		opacity: 0;
		visibility: hidden;
		&.search-active{
			opacity: 1;
			visibility: visible;
		}
		@media screen and (min-width:992px) {
			left: 50%;
			right: auto;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			width: 100%;
		}
		@media screen and (min-width:768px) {
			bottom: auto;
        top: 0;
		}
		& .container{
		display: inline-block;
		margin: auto;
		opacity: 1;
		padding: 15px 20px;
		text-align: left;
		vertical-align: middle;
		position: relative;
		}
	}
	.search__wrap{
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		
		
		form{
			border-radius: 500px;
			background-color: $white;
			display: flex;
			padding: 4px 4px 4px 24px;
			align-items: center;
			gap: 10px;
			justify-content: space-between;
			input[type="text"]{
				width: calc(100% - 105px);
				border: 500px 0 0 500px;
				border: none;
				background-color: transparent;
				outline: none;
				font-size: 14.364px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				letter-spacing: -0.144px;
				color: $text;
			}
			.input__submit{
				display: flex;
				gap: 10px;
				border-radius: 500px;
				padding: 12px 14px 12px 18px;
				position: relative;
				transition: 600ms ease-out;
				background-color: $accent;
				max-width: fit-content;
				cursor: pointer;
				@media screen and (max-width:767.9px) {
					width: 100%;
				
				}
				&:hover{
					background-color: $accent-100;
				}
				&:active{
					background-color: $accent-200;
				}
				input{
					position: absolute;
					top: 0;
					left: 0;
					background-color: transparent;
					border: none;
					opacity: 0;
					z-index: 0;
					width: 100%;
					height: 100%;
					padding: 0;
					margin: 0;
					border-radius: 500px;
					cursor: pointer;
				}
				span{
					color: $white;
					font-size: 14px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					letter-spacing: -0.14px;
				}
			}

		}
	}
	&__info{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
		& .header__btns{
			@media screen and (max-width:991.9px) {
				display: none;
			}
		}
	}
	&__bottom{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__cat{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 12px 16px ;
		border-radius: 14px;
		max-width: fit-content;
		color: $white;
		background: rgba(255, 255, 255, 0.20);
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.14px;
		gap: 10px;
		&__icon{
			position: relative;
			width: 16px;
			height: 16px;
			padding: 2px;
			span{
				position: absolute;
				left: 2px;
				width: 11px;
				height: 2px;
				background-color: $white;
				transition: 600ms ease-out;
				.open &{
					border-radius: 500px;
				}
				&:nth-of-type(1){
					top: 2px;
					.open &{						
						transform: rotate(45deg) scaleX(1.3) translate(3px,4px);
					}
				}
				&:nth-of-type(2){
					top: 7px;
					.open &{
						opacity: 0;
					}
				}
				&:nth-last-of-type(1){
					width: 6.667px;
					bottom: 2px;
					.open &{
						transform: rotate(-45deg) scaleX(2.4) translate(2px,-1px);
					}
				}
				

			}
		}
	}
	&__menu{
		position: fixed;
		top: 54px;
		left:-100%;
		width: 100%;
		height: calc(100vh - 54px);
		overflow: hidden;
		overflow-y: auto;
		padding-top: 24px;
		background-color: $primary-100;
		opacity: 0;
		visibility: hidden;
		transition: 600ms ease-out;
							
		@media screen and (min-width:992px) {							
			top: -100%;
			height: 0;
			left: 0;
		}
		&__wrap{
			display: flex;
			flex-direction: column;
			gap: 40px;
			& .header__btns{
					.btn{
						@media screen and (max-width:767.9px) {
						max-width: 100%;
						width: 100%;
					}
				}
				@media screen and (min-width:992px) {
					display: none;
				}
			}
		}
		.open & {
			opacity: 1;
			visibility: visible;
			z-index: 50;
			left: 0;
			
			@media screen and (min-width:992px) {
			top: 124px;
			height: calc(100vh - 124px);
			}	
		}
		ul {
			display: flex;
			flex-direction: column;
			gap: 32px;
			&:not(.sub-menu) {
				@media screen and (min-width: 992px) {
					display: flex;
					flex-direction: row;
					gap: 20px;
					justify-content: space-between;
				}

				> li {
					display: flex;
					color: $white;
					position: relative;
					flex-direction: column;
					@media screen and (min-width: 992px) {
						flex-direction: column;
						gap: 32px;
						max-width: 260px;
						width: 100%;						
					}

					> a {
						position: relative;
						color: $white; 
						transition: 300ms ease-out;
						z-index: 2;            // Посилання над фоном
    pointer-events: auto;
						@media screen and (min-width: 992px) {
							font-size: 20px;
							font-weight: 600;
							padding-bottom: 12px;
						}

						&:hover {
							color: $primary-600;
						}
					}
				}
			}
			
			li:has(.sub-menu){
				@media screen and (max-width:991.9px) {
					position: relative;
					flex-direction: column;
				>	a{
					position: relative;
					display: inline-block; 
    			width: fit-content;
						&:after{
								content: '';
								width: 16px;
								height: 16px;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								left: calc(100% + 8px);
								transition: 600ms ease-out;
								pointer-events: none;
								background: url('../images/header-arrow.svg') center center / 16px no-repeat;
							}
					}
					&.active{
						> a:after {
						transform: translateY(-50%) rotate(180deg);
					}
						.sub-menu{
							margin-top: -16px;
							max-height: 5000px;
							opacity: 0;
							opacity: 1;
							overflow: visible;
							-webkit-transition: margin-top .4s linear, opacity .4s linear, max-height .4s linear, visibility .4s linear, padding .4s linear, -webkit-transform .4s linear;
							transition: margin-top .4s linear, opacity .4s linear, max-height .4s linear, visibility .4s linear, padding .4s linear, -webkit-transform .4s linear;
							transition: margin-top .4s linear, opacity .4s linear, transform .4s linear, max-height .4s linear, visibility .4s linear, padding .4s linear;
							transition: margin-top .4s linear, opacity .4s linear, transform .4s linear, max-height .4s linear, visibility .4s linear, padding .4s linear, -webkit-transform .4s linear;
							visibility: visible;
							}
					}					
					
				}
			}
			&.sub-menu {
				display: flex;
				flex-direction: column;
				gap: 14px;

				@media screen and (min-width: 992px) {
					gap: 18px;
					position: relative;
					
					&:before {
						content: '';
						width: 100%;
						height: 1px;
						position: absolute;
						top: -32px; 
						left: 0;
						background-color: $primary-500;
					}
				}
				@media screen and (max-width:991.9px) {
					max-height: 0;
					opacity: 0;
					overflow: hidden;
					-webkit-transition: all .3s linear;
					transition: all .3s linear;
					-webkit-transition: margin-top .4s linear, opacity .4s linear, max-height .4s linear, visibility .4s linear, padding .4s linear, -webkit-transform .4s linear;
					transition: margin-top .4s linear, opacity .4s linear, max-height .4s linear, visibility .4s linear, padding .4s linear, -webkit-transform .4s linear;
					transition: margin-top .4s linear, opacity .4s linear, transform .4s linear, max-height .4s linear, visibility .4s linear, padding .4s linear;
					transition: margin-top .4s linear, opacity .4s linear, transform .4s linear, max-height .4s linear, visibility .4s linear, padding .4s linear, -webkit-transform .4s linear;
					visibility: hidden;
					will-change: opacity, max-height, visibility;
					will-change: opacity, max-height;
					padding-top: 32px;
					margin-top: -32px;
					.active &{
						margin-top: -16px;
							max-height: 5000px;
							opacity: 1;
							overflow: visible;
							-webkit-transition: margin-top .4s linear, opacity .4s linear, max-height .4s linear, visibility .4s linear, padding .4s linear, -webkit-transform .4s linear;
							transition: margin-top .4s linear, opacity .4s linear, max-height .4s linear, visibility .4s linear, padding .4s linear, -webkit-transform .4s linear;
							transition: margin-top .4s linear, opacity .4s linear, transform .4s linear, max-height .4s linear, visibility .4s linear, padding .4s linear;
							transition: margin-top .4s linear, opacity .4s linear, transform .4s linear, max-height .4s linear, visibility .4s linear, padding .4s linear, -webkit-transform .4s linear;
							visibility: visible;
							
					}
				}
				li {
					font-size: 14px;
					line-height: 140%;
					letter-spacing: -0.14px;
					font-weight: 400;

					@media screen and (min-width: 992px) {
						font-weight: 500;
					}
					
					a {
						color: $primary-600; 
						&:hover {
							color: $white;
						}
					}
				}
			}
}		
						
						
	}
	&__nav{
		margin-left: auto;
		@media screen and (max-width:992px) {
			display: none;
		}
		nav{
			ul{
				display: flex;
				&:not(.sub-menu){
					flex-direction: row;
					gap: 32px;
					align-items: center;
					justify-content: center;
					li {
						position: relative;
						padding: 12px 0;
						a {
							transition: 300ms ease-out;
							&:not(.sub-menu a) {
								color: $white;
							}
						}
						&:hover {
							> a:not(.sub-menu a) {
								color: $primary-600;
							}
							> a:after {
								transform: translateY(-50%) rotate(180deg);
							}
							.sub-menu{
								transform: translateY(100%);
								opacity: 1;
								visibility: visible;
								z-index: 5;
							}
						}
						&:has(ul) {
							li{
								position: relative;
								
							}
							> a {
								padding-right: 18px;
								position: relative;

								&:after {
									content: '';
									width: 9px;
									height: 6px;
									position: absolute;
									top: 50%;
									right: 0;
									transform: translateY(-50%); 
									background-color: currentColor;
									transition: 300ms ease-out;
									
									$svg: '<svg xmlns="http://www.w3.org/2000/svg" width="9" height="6" viewBox="0 0 9 6" fill="none"><path d="M4.875 5.0625L9 0.9375L8.0625 0L4.5 3.5625L0.9375 0L0 0.9375L4.125 5.0625L4.875 5.0625Z" fill="black"/></svg>';
									-webkit-mask-image: url('data:image/svg+xml;utf8,#{$svg}');
									mask-image: url('data:image/svg+xml;utf8,#{$svg}');
									mask-repeat: no-repeat;
									mask-size: contain;
								}
							}
						}
						.sub-menu{
							display: flex;
							flex-direction: column;
							border-radius: 8px;
							position: absolute;
							bottom: -2px;
							transform: translateY(145%);
							transition: 600ms ease-out;
							opacity: 0;
							visibility: hidden;
							z-index: -1;
							min-width:170px;
							li{
								position: relative;
								padding: 10px;
								background-color: $white;
								color: #64686C;
								transition: 600ms ease-out;
								font-size: 10px;
								font-style: normal;
								font-weight: 400;
								line-height: 110%;
								&:nth-of-type(1){
									border-radius: 8px 8px 0 0;
								}
								&:nth-last-of-type(1){
									border-radius: 0 0 8px 8px ;
								}
								&:hover{
									background-color: $primary-600;
								}
							}
						}
					}
				}
			}
		}
	}
}