@use './roots/' as *;

.header{
	background-color: $accent-100;
	&__promo{
		background-color: $black;
		color: $accent;
		font-family: "Manrope";
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 32px; 
		text-transform: uppercase;
		&__wrap{
			display: flex;
			align-items: center;
			justify-content: center;

		}
	}
		.burger{
		width: 24px;
		height: 24px;
		position: relative;
		padding: 6px 4px;
		display: flex;
		cursor: pointer;
		span{
			position: absolute;
			background-color: $black;
			width: 16px;
			height: 2px;
			left: 4px;
			border-radius: 500px;
			transition: .3s linear;
			&:nth-of-type(1){
				top: 6px;				
			}
			&:nth-of-type(2){
				top: 50%;
				transform: translateY(-50%);				
			}
			&:nth-last-of-type(1){
				bottom: 6px;				
			}
			.open &{
				&:nth-of-type(1){
					transform: translate(1px, 6px) rotate(45deg);			
				}
				&:nth-of-type(2){
					opacity: 0;			
				}
				&:nth-last-of-type(1){
					transform: translate(1px, -4px) rotate(-45deg);					
				}
			}
		}
	}
	
		.burger,
	.header__nav__mobile{
		@media screen and (min-width:1024px) {
			display: none;
		}
	}
	&__container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		padding: 22px 0;
		position: relative;		

	}
&	.logo{
			max-width: 180px;
		height: 100%;
		max-height: 36px;
		display: inline-flex;
		@media screen and (min-width:1024px) {
			max-width: 228px;
			margin: 0 auto;
			transform: translateX(-50%);
		}
	}
	&__nav{
		@media screen and (max-width:1023.9px) {
			display: none;
		}
		ul{
			display: flex;
			align-items: center;
			gap: 24px;
		
			li{
					color: $black;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 21px; /* 150% */
					letter-spacing: 1.4px;
					text-transform: uppercase;
					a{
						width: fit-content;
						transition: .3s linear;
						position: relative;
						&:hover{
							&:after{
								width: 100%;
							}
						}
						&:after{
							content: '';
							width: 0%;
							height: 1px;
							background-color: $black;
							position: absolute;
							bottom: 0;
							left: 50%;
							transform: translate(-50%);
							transition: .3s linear;
						}
					}
			}
		}
	}
	&__nav__mobile{
		width: 316px;
		height: 100vh;
		transition: .3s linear;
		
		position: fixed;
		left:-100%;
		top: 0;
		z-index: 10;
		.open &{
			left: 0;
		}
		&__wrap{
		background-color: $white;

		display: flex;
		flex-direction: column;
		gap: 48px;
		height: 100%;
		padding: 27px 16px 16px 16px;
			height: 100vh;
			overflow: hidden;
			overflow-y: auto;
			position: relative;
			z-index: 10;
		}
	
		&__logo{
			display: flex;
			align-items: center;
			justify-content: space-between;			
		}
		
		ul{
			display: flex;
			flex-direction: column;
			gap: 24px;

			li{
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 21px; /* 131.25% */
				letter-spacing: 1.4px;
				text-transform: uppercase;
				color: $black;
				&.active{
					color: $accent;
					font-weight: 500;
				}
			}
		}
		.header__cta{
			display: flex;
			flex-direction: column;
			margin-top: auto;
			span, div{
				color: $gray;
				font-family: "Manrope";
				font-size: 10px;
				font-style: normal;
				font-weight: 500;
				line-height: 20px; 
				letter-spacing: 0.7px;
			}
			span{
				text-transform: uppercase;
			}
			a{
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 36px; 
			}
		}
	}

	&__btn{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 14px;
		transition: .3s linear;
	}

}

.search{
	position: fixed;
	top: 30px;
	left: 0;
	height: auto;
	background-color: $white;
	transition: .3s linear;
	will-change: opacity, visibility;
	width: 100%;
	height: auto;
	z-index: -1;
	padding: 18px 0px;
	transition: .3s linear;
	opacity: 0;
	visibility: hidden;
		input[type="search"]::-webkit-search-cancel-button {
			-webkit-appearance: none;
			display: none;
		}

		input[type="search"]::-webkit-search-decoration {
			-webkit-appearance: none;
		}

	&.search-active{
		opacity: 1;
		visibility:visible;
		z-index: 5;
	}

	&__container{
		max-width: 1176px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;		
		padding-right: 50px;
		margin: 0 0 0 auto;
	}
	form{
		max-width: 1082px;		
		width: 100%;
	}
}
.search-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 36px;
	max-height: 36px;
	width: 100%;
	height: 100%;
	aspect-ratio: 1;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	padding: 10px;
	transition: 600ms ease-out;
	&:hover{
		svg{
			transform: scale(1.27);
		}
	}
	svg{
		transition: 600ms ease-out;
	}

}
	.input__search{
		position: relative;		
	}
	.input__search-input{
			border: none;
			border-bottom: 0.615px solid $black;
			outline: none;
			width: 100%;
			padding: 12px 0 11px 0;
			color: $black;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: -0.439px;
			transition: .3s linear;
			will-change: width ;
			@media screen and (min-width:1024px) {
				font-size: 18px;
			}
			&::placeholder{
				color: $white-300;
				opacity: 1;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				letter-spacing: -0.439px;
				padding: 10px 0;
				@media screen and (min-width:1024px) {
				font-size: 18px;
			}
		}
		}
	.search-results{
			opacity: 0;
			visibility: hidden;
			max-height: 0;
			max-width: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;

		}
	.basket-btn{
		position: relative;
		z-index: 6;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 36px;
		max-height: 36px;
		width: 100%;
		height: 100%;
		aspect-ratio: 1;
		background-color: transparent;
		border: 0;
		cursor: pointer;
		padding: 10px;
		transition: 600ms ease-out;
		&.search-active{
			opacity: .5;
		}
		&:hover{
			svg{
				transform: scale(1.27);
			}
		}
		span{
			position: absolute;
			top: -1px;
			right: -2px;
			width: 16px;
			height: 16px;
			background-color: $black;
			color: $white;
			text-align: center;
			font-family: Inter;
			font-size: 8px;
			font-style: normal;
			font-weight: 700;
			line-height: 12px; 
			letter-spacing: 0.206px;
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			z-index: 1;
		}
		svg{
			transition: 600ms ease-out;
			position: relative;
			z-index: 2;
		}
		
	}