@use './roots/' as *;

.hero{
	position: relative;

	&__overlay{
		position: absolute;
	inset: 0;
	pointer-events: none;
	z-index: 2;
	& .container{
		display: flex;
		flex-direction: column;
		height: 100%;
		padding-bottom: 24px;	
	}
	}
	&__pagination{
		pointer-events: auto;
		margin-top: auto;
		z-index: 5;
		& .swiper-pagination-bullet{
			border-radius: 100px;
			background-color: rgba(255, 255, 255, 0.20);
			width: 10px;
			height: 10px;
			&.swiper-pagination-bullet-active{
				background-color: $accent;
				transform: scale(1.001);
			}
		}
		
	}
	&__slide{
		&-desktop{
			@media screen and (max-width:1023.9px) {
				display: none;
			}
		}
		&-mob{
			@media screen and (min-width:1024px) {
				display: none;
			}
		}
		img{
			width: 100%;
			max-height: 560px;
			height: 100%;
			aspect-ratio: 3 / 5;
			@media screen and (min-width:1240px) {
				aspect-ratio: 3 / 8;
			}
			@media screen and (min-width:1024px) and (max-width:1239.9px) {
				aspect-ratio: 8 / 3;
			}
		};
	}
}