@use './roots/' as *;
.inst{
	background-color: $white-400;
	padding: 60px 0 120px 0;
	& ~ .footer{
		background-color: $white-400;
	}
	@media screen and (min-width:768px) {
		padding: 80px 0 120px 0;
	}
	&__container{
		@media screen and (min-width:1024px) and (max-width:1240px) {
			padding: 0 16px;
		}
	}
	&__title{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 8px;
		margin-bottom: 24px;
		@media  screen and (min-width:768px) {
			margin-bottom: 48px;
		}
		@media screen and (min-width:768px) and (max-width:1239.9px) {
			gap: 17px;
		}
		@media screen and (min-width:1240px) {
			gap: 12px;
		}
		a{
			color: $gray;
			text-align: center;
			font-family: "Manrope";
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 27px; 
			letter-spacing: 1.8px;
			text-transform: uppercase;

		}
		
	}
	&__items{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
		margin-bottom: 24px;
		@media screen and (min-width:768px) {
			margin-bottom: 48px;
			grid-template-columns: repeat(4, 1fr);
		}
		@media screen and (min-width:1025px) {
			
		}
	}
	&__item{
		position: relative;
		display: flex;
		aspect-ratio: 1;
		height: 100%;

		img{
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
			position: relative;
			z-index: 1;
		}
		span{
			position: absolute;
			top: 11px;
			right: 11px;
			width: 23px;
			height: 23px;
			z-index: 2;
		}
	}
	& .btn{
		margin: 0 auto;
	}
}