@use './roots/' as *;
.product{
	&__container{
		display: flex;
		flex-direction: column;
		gap: 44px;
		margin-bottom: 120px;

		@media screen and (min-width:1024px) {
			flex-direction: row;
			gap: 32px;
			width: 100%;
			justify-content:flex-start ;
		}

		
	}
	&__slider{
			display: flex;
			flex-direction: column;
			gap: 18px;
			position: relative;
			height: fit-content;
				@media screen and (min-width:1024px) and (max-width:1239.9px) {
				width: calc(50% - 16px);
				gap: 16px;
			}
			@media screen and (min-width:1240px) {
				width: 49%;
				max-width: 611px;
				gap: 16px;
			}
			&__label{
				position: absolute;
				top: 16px;
				left: 16px;
				z-index: 5;
				background-color: $black;
				color:$white;
				padding: 4px 12px;
				font-size: 10px;
				font-style: normal;
				font-weight: 700;
				line-height: 15px; 
				letter-spacing: 0.617px;
				text-transform: uppercase;
			}
			.productSlider2,
			.productSlider{
				position: relative;
				flex-grow: 1;
				width: 100%;
			}
			.productSlider2{
				.product-img{
					aspect-ratio: 4 / 5;
					@media screen and (min-width:1024px) {
						aspect-ratio: 11 / 10;
					}
				}
			}
			.productSlider{
				 .product-img{
					aspect-ratio: 4 / 5;
					position: relative;
					z-index: 1;
					border: 2px solid transparent;
					transition: border-color 600ms ease-oyt;
					opacity: .7;
					&.swiper-slide-thumb-active{
						border-color: $accent;
						opacity: 1;
					}
					@media screen and (min-width:1024px) {
						aspect-ratio: 6 / 5;
					}
				 }
				 .product-button-next{
					position: absolute;
					top: 50%;
					right: 6px;
					transform: translateY(-50%);
					z-index: 2;
					
				 }
				 .product-button-prev{
					position: absolute;
					top: 50%;
					left: 6px;
					transform: translateY(-50%);
					z-index: 2;
				 }
				 .product-button-next,
				 .product-button-prev{
					max-width: 32px;
					max-height: 32px;
					background-color: $white;
					border: 0.711px solid $white-200;
					min-width: 32px;
					svg{
						width: 5px;
						height: 9px;
					}
					&.swiper-button-disabled{
						opacity: 0;
					}
				 }
			}
		}
		&-img{
			img{
				max-width: 100%;
				max-height: 100%;
				width: 100%;
				height: 100%;
			}

		}
		&__wrap{
			@media screen and (min-width:1240px) {
				width: 43%;
				max-width: 544px;
			}
			@media screen and (min-width:1024px) and (max-width:1239.9px) {
				width: calc(50% - 16px);
			}

		}
		&__category{
			color: $gray;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px; /* 142.857% */
			letter-spacing: 1.4px;
			text-transform: uppercase;
			margin-bottom: 12px;

		}
		&__info{
			h1{
				font-family: 'Inter', sans-serif;
				font-size: 28px;
				font-style: normal;
				font-weight: 300;
				line-height: 34px; 
				letter-spacing: -1.2px;
				@media screen and (min-width:1024px) {
					font-size: 42px;
					line-height: 48px;
					margin-bottom: 30px;
				}
			}
		}
		&__price, 
		&_info h1,
		&__size,
		hr,
		&__description,
		&__btns{
			margin-bottom: 18px;
			@media screen and (min-width:1024px) {
				margin-bottom: 30px;
			}
		}
		&__price{
			font-size: 24px;
			font-style: normal;
			font-weight: 700;
			line-height: 32px; 
			letter-spacing: 0.07px;
			
		}
		&__size{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 8px;
			&__item{
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 6px;
				border: 1px solid $white-200;
				padding: 3px 12px;
				background-color: transparent;
				font-family: "Manrope";
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 28px;
					cursor: pointer;
					transition: 600ms ease-out;
					&:hover{
						border-color: $accent;
					}
					&:active{
						background-color: $accent;
					color: $white;
					border-color:$accent;	
					}
				&.active{
					background-color: $accent;
					color: $white;
					border-color:$accent;					
				}
			}
		}
		hr{
			background-color: $white-200;
			width: 100%;
			height: 1px;
			padding: 0;
			border: none;
		}
		&__description{
			color: $gray-100;
			font-size: 16px;
			font-style: normal;
			font-weight: 300;
			line-height: 29.25px;
			@media screen and (min-width:1024px) {
				font-size: 18px;
			}
		}
		&__btns{
			display: flex;
			align-items: center;
			gap: 20px;
			& .btn{
				padding: 12px 24.5px;
				max-width: calc(100% - 151px - 19px);
				width: calc(100% - 151px - 19px);
			}
		}
		&__count{
			display: flex;
			align-items: center;
			gap: 6px;
			background-color: transparent;
			border-radius: 500px;
			border: 1px solid $white-200;
			font-family: "Manrope";
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 28px; 
			padding: 4px 12px;
			max-width: 156px;
			width: 100%;
			span{
				padding: 12px;
			}
		}
		&__accord__item{
			padding: 24px 0;
			border-top: 1px solid  $white-200;
			&__top{
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 28px; /* 155.556% */
				letter-spacing: -0.32px;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		&.active .accord-icon-wrapper{
			transform: rotate(180deg);
		}
		&	.accord-icon-wrapper{
			width: 10px;
			height: 6px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-bottom{
			p, ul,ol,span{
				font-size: 16px;
				font-style: normal;
				font-weight: 300;
				line-height: 28px;
				font-family: "Manrope", sans-serif;
			}
			
			ul{
				display: flex;
				flex-direction: column;
				gap: 10px;
				
			}
		}
		}
}