@use './roots/' as *;
.recent{
	
	padding-bottom: 60px;
	background-color: $white;
	border-radius: 0 0 48px 48px;
	&__title{
		margin-bottom: 40px;
		h2{
			@include titleH2;
		}
	}
	&__wrap{
		display: flex;
		flex-direction: column;
		gap: 20px;
		@media screen and (min-width:768px) {
			display: grid;
		gap:0 20px;
		grid-template-columns: 46.8% 51%;
		}
		
		& .news__item{
			&:nth-of-type(1){
				 grid-row: 1 / span 3;
				 .news__item__img{
					max-height: 319px;					
				}			
			}
			&:not(:nth-of-type(1)){
				@media screen and (min-width:768px) {
			flex-direction: row;
				.news__item__img{
					width: 32%;
					max-width: 130px;
					max-height: 130px;
					aspect-ratio: 1;
					min-height: 130px;
					border-radius: 12px;					
				}
				.news__item__info{
					width: calc(100% - 130px - 20px);
				}
		}
				
			}
		}
	}
}

.news{
	padding: 60px 0 120px 0;

	&__item{
		display: flex;
		flex-direction: column;
		gap: 20px;
		height: auto;
		padding: 20px;
		transition: 600ms ease-out;
		border-radius: 32px;
		&:hover{
			background-color: $white-100;
		}
		&__img{
			overflow: hidden;
			transition: .3s linear;
			width: 100%;
			max-height: 319px;
			height: 100%;
			min-height: 200px;
			flex-grow: 1;
			border-radius: 20px;
			&:hover{
				img{
					transform: scale(1.2);
				}
			}
			img{
				transition: .3s linear;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: inherit;
			}
		}
		&__info{
			display: flex;
			flex-direction: column;		
			&-date{
				display: flex;
				align-items: center;
				gap: 21px;
				div{
					display: flex;
					align-items: center;
					gap: 6px;
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: 140%;
					letter-spacing: 0.12px;
					color: $text;
				}
				.news__date{
					margin-left: auto;
				}
			}	
		}
	}	
	&__cat{
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		display: flex;
		padding: 1px 10px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		margin-bottom: 5px;
		background-color: $white-300;
		color: $primary;
		width: fit-content;
	}
	&__title{
		@include titleH4;
		text-wrap-style: pretty;
		color: $text;
		margin-bottom: 18px;
		display: -webkit-box;      
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 2;      
  overflow: hidden;    
  
  color: $black;
  text-overflow: ellipsis;
	}
	// &__container__title{
	// 	margin-bottom: 40px;
	// 	h2{
	// 		@include tilteH3-big;
	// 	}
	// }
	// &__tabs{
	// 	margin-bottom: 40px;
	// 	&__list{
	// 		display: flex;
	// 		align-items: center;
	// 		gap: 12px;
			
	// 	}
	// 	&__item{
	// 		display: flex;
	// 		align-items: center;
	// 		justify-content: center;
	// 		padding: 11px 23px;
	// 		border-radius: 100px;
	// 		border: 1px solid $--Neutral-550;
	// 		background: #FFF;
	// 		color: $text;
	// 		font-size: 14px;
	// 		font-style: normal;
	// 		font-weight: 500;
	// 		line-height: 20px; 
	// 		text-transform: capitalize;
	// 		gap: 8px;			
	// 		transition: .3s linear;
	// 		&.active{
	// 			padding: 11px 23px 11px 14px;
	// 			border:1.5px solid $--Primary-200;
	// 			&:before{
	// 				content: '';
	// 				width: 24px;
	// 				height: 24px;
	// 				background: url(../images/checkmark1.svg) center center / cover no-repeat;
	// 			}
	// 		}
	// 		&:not(.active){
	// 			cursor: pointer;
	// 			&:hover{
	// 			background-color: $text;
	// 			color: $--white;
	// 		}
	// 		}
		
	// 	}
	// }
	// &__wrap{
	// 	display: grid;
	// 	grid-template-columns: repeat(3, 1fr);
	// 	gap: 40px 24px;
	// 	margin-bottom: 40px;
	// }
	// &__pagination{
	// 	display: flex;
	// 	gap: 32px;
	// 	align-items: center;
	// 	width: fit-content;
	// 	margin-left: auto;
	// 	padding: 12px 0;
	// 	& .dropdown-list{
	// 		max-width: fit-content;
	// 		width: fit-content;
	// 		ul li a{
	// 			min-width: fit-content;
	// 		}
	// 	}
	// 	& .dropdown-toggle span{
	// 		text-decoration: underline;
	// 	}
	// 	& .dropdown:hover .dropdown-list{
	// 		min-width: fit-content;
	// 	}
	// 	&__count,
	// 	&__info{
	// 		display: flex;
	// 		gap: 16px;
	// 	}
	// 	&__arrows{
	// 		display: flex;
	// 		gap: 8px;
	// 		span{
	// 				width: 24px;
	// 				height: 24px;
	// 				cursor: pointer;
	// 			&:disabled{
	// 				svg path{
	// 					fill: #100A29;
	// 					fill-opacity:0.5;
	// 				}
	// 			}
	// 			svg {
	// 				width: 100%;
	// 				height: 100%;
	// 				path{
	// 				fill: #100A29;
	// 				fill-opacity:1;
	// 			}
	// 			}
	// 		}

	// 	}
	// }
}