
@use './roots/' as *;
.reviews{
	margin-bottom: 120px;
	@media screen and (min-width:768px) {
		margin-bottom: 200px;
	}
	&__title{
		margin-bottom: 24px;
		@media screen and (min-width:768px) {
			margin-bottom: 48px;
		}
	}
	&__item{
		padding: 32px;
		display: flex;
		flex-direction: column;
		height: auto;
		border: 1px solid $white-200;
		&__rating{
			display: flex;
			align-items: center;
			gap: 4px;
			margin-bottom: 24px;
			svg{
				max-width: 16px;
				max-height: 16px;
				width: 100%;
				height: 100%;
			}
			
		}
		&__text{
			display: flex;
			flex-direction: column;
			font-family: "Manrope";
				font-size: 16px;
				font-style: normal;
				font-weight: 300;
				line-height: 24px; 
				color: $black;
				margin-bottom: 30px;
				@media screen and (min-width:768px) {
					margin-bottom: 45px;
				}
		}
		&__info{
			display: flex;
			gap: 16px;
			margin-top: auto;
			img{
				max-width: 40px;
				max-height: 40px;
				aspect-ratio: 1;
				border-radius: 50%;
				object-fit: cover;
			}
			&__wrap{
				display: flex;
				flex-direction: column;
				
			}
			&-name{
				font-family: "Manrope";
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 21px; 
				letter-spacing: 0.7px;
				text-transform: uppercase;
			}
			&-local{
				font-family: "Manrope";
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px;
				color: $gray;
			}
		}
	}
}