@use './roots/' as *;
.serving{
	&__items{
		display: flex;
		flex-direction: column;
		gap: 12px;
		@media screen and (min-width:640px) {
			display: grid;
			gap: 30px;			
		}
		@media screen and (min-width:640px) and (max-width:1023.9px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (min-width:1024px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	&__item{
		display: flex;
		flex-direction: column;
		border-radius: 32px;
		overflow: hidden;
		background-color: $white-100;
		&-more{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			padding: 34px;
			@media screen and (min-width:768px) {
				padding: 44px;
			}
			&-content{
				display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			height: 100%;
			gap: 120px;
			.arrow-icon{
				width: 96.303px;
				height: 59.597px;
				transition: 600ms ease-out;
				&:hover{
					transform: scale(1.1);
				}
				&:active{
					transform: scale(.9);
				}
			}
			.more-link{
				font-size: 18px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				letter-spacing: -0.36px;
				color: $primary;
				transition: 600ms ease-out;
				display: flex;
				align-items: center;
				gap: 10px;
				width: fit-content;

				&:hover{
					color:$accent;
					svg{
						transform: translateX(5px);
					}
				}
				svg {	
					transition: 600ms ease-out;
					path {
						stroke: currentColor;
					}
				}
			}
			}
		}
		&__img{
			border-radius: 32px 32px 0 0;
			max-height: 232px;
			aspect-ratio: 7 / 5;
			position: relative;
			z-index: 0;
			overflow: hidden;
			width: 100%;

			&:hover{
				img{
					transform: scale(1.1);
				}
			}
			@media screen and (min-width:540px) {
				max-height: 275px;
			}
			img{
				border-radius: inherit;
				max-width: 100%;
				max-height: 100%;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 600ms ease-out;
			}
		}
		&__info{
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 0 20px 20px 20px;
			background-color: $primary;
			border-radius: 0 0 32px 32px;
			position: relative;
			flex-grow: 1;
			@media screen and (min-width:640px) {
				padding: 0 20px 32px 20px;
			}
			&:after{
				content: '';
				height: auto;
				width: calc(100% + 28px);
				aspect-ratio:3 / 1;
				position: absolute;
				top: -27px;
				left: -14px;
				z-index: 1;
				background: url(../images/ellipse.svg) center center / cover no-repeat;
				@media screen and (max-width:639.9px) {
					aspect-ratio: 3 / 2;				
				}
				@media screen and (min-width:550px) {
					top: -47px;
				}
			}
			a:not([class]){
				min-height: 56px;
				@include titleH5;
				color: $white;
				position: relative;
				z-index: 2;
				transition: 600ms ease-out;
				&:hover{
					color: $primary-600;
				}
			}
			.btn{
				position: relative;
				z-index: 2;
			}
		}
		
	}
}