@use './roots/' as *;
.tech{	
	padding: 64px 0;
	margin-bottom: 80px;
	border-radius: 24px;
	background-color: $black;
	@media screen and (min-width:1024px) {
		width: calc(100% - 32px);
		margin: 0 auto;
		margin-bottom: 160px;			
	}
	@media screen and (min-width:1240px) {
		padding: 64px 16px;
	}
	& .container{
		@media screen and (min-width:1025px) {
			padding: 0 16px;
		}
	}
	&__title{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
		text-align: center;
		margin-bottom: 32px;
		position: relative;
		flex-direction: column;
		@media screen and (min-width:768px) {
			margin-bottom: 36px;
		}
		h2{
			font-size: 36px;
			font-style: normal;
			font-weight: 700;
			line-height: 54px; /* 150% */
			letter-spacing: -1.5px;
			text-transform: uppercase;
			color: $white;
			@media screen and (min-width:1025px) {
				font-size: 60px;
				line-height: 60px; 
			}
			span{
				color: $accent;
			}
		}
		p{
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 21px; /* 150% */
			letter-spacing: 1.3px;
			text-transform: uppercase;
			color: $gray;
			width: calc(100% - 60px);
			@media screen and (min-width:768px) {
				font-size: 16px;
				line-height: 24px; /* 150% */
				letter-spacing: 1.288px;
				width: 100%;
			}
		}
		
	}
	&__slide{
			& .cards__item__bottom a,
			& .cards__item__bottom-price span:not([class]){
				color: $white;
			}

		}
	&-button-next,
	&-button-prev{
		position: absolute;
		bottom: 0;
		@media screen and (max-width:767.9px) {
			display: none;
		}
		& svg{
			path{
				stroke: $white;
			}			
		}
		&:hover{
			border-color: $accent;
			svg path{
				stroke: $accent;
			}
		}
		&:active{
			background-color: $accent;
			border-color: $accent;
			svg path{
				stroke: $black;
			}
		}
	}
		&-button-prev{
			left: 0;
		}
		&-button-next{
			right:0;
		}
}