@use './header';
@use './footer';
@use './cat';
@use './slider';
@use './recommend';
@use './animation';
@use './hero';
@use './tech';
@use './advantages';
@use './reviews';
@use './inst';
@use './catalog';