
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_18pt-Light.ttf);
	font-weight: 300;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_18pt-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_18pt-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_18pt-SemiBold.ttf);
	font-weight: 600;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_24pt-Bold.ttf);
	font-weight: 700;
}

 
	$black: #21262D;
	$gray: #9BA0A7;
	$gray-100:rgba(255, 255, 255, 0.20);
	$text: #474F5A;
	$white: #FFFFFF;
	$white-100: #E2E9F3;
	$white-200: #EFF1F4;
	$white-300: #EFF1F4;
	$primary:#0957C3;
	$primary-100:#0C73FE;
	$primary-200:#3D8FFE;
	$primary-300:#2A69BD;
	$primary-400:#0A4598;
	$primary-500:#75BBFF;
	$primary-600:#BEDEFF;
	$accent:#FA742D;
	$accent-100:#FFB700;
	$accent-200:#D97A04;
	$accent-300:#FE9410;
	$accent-400:#CB5D23;
	$accent-500:#B56A0D;
	$accent-600:#FDAE38;
	$accent-secondary:#0BAB8B;
	$secondary:#0BAB8B;
	$gradient:  linear-gradient(90deg, #FA742D 0%, #FF9858 100%), #2FC193;

@mixin titleH1{
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%; /* 33.8px */
	letter-spacing: -0.26px;
	@media screen and (min-width:768px) {
		font-size: 38px;
		line-height: 140%; 
	}
}
@mixin titleH2{
	font-size: 26px;
		font-style: normal;
		font-weight: 700;
		line-height: 130%;
		letter-spacing: -0.26px;
		@media screen and (min-width:768px) {
			font-size: 35px; 
			letter-spacing: -0.35px;
		}
}
@mixin titleH5{
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
	@media screen and (min-width:768px) {
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: 140%; 
	}
}
@mixin titleH4{
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
	@media screen and (min-width:768px) {
		font-size: 24px;
	}
}
@mixin p-xs{
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%; 
}
@mixin p-s{
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
}
@mixin p-m{
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	@media screen and (min-width:768px) {
			font-size: 16px;
			line-height: 150%;
	}
}
@mixin p-l{
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	@media screen and (min-width:768px) {
		font-size: 18px;
		line-height: 150%;
	}
}
@mixin p-xl{
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	@media screen and (min-width:768px) {
		font-size: 18px;
	}
}

h1{
	color: $black;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%; 
	letter-spacing: -0.26px;
	@media screen and (min-width:768px) {
		font-size: 35px;
		letter-spacing: -0.35px;
	}
}

h2{
		@include titleH2;
}


html.open,
html.open-popup,
html.open-filter{
	overflow: hidden;
}

.container{
	max-width: 1282px;
	width: 100%;
	padding: 0 16px;
	margin: 0 auto;
}

.title{
	@include titleH2;
}
.title__column{
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 40px;
	p{
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
		color: $text;
		@media screen and (min-width:768px) {
			font-size: 18px;
		}
	}
}

.mb-m{
	margin-bottom: 60px;
	@media screen and (min-width:768px) {
		margin-bottom: 100px;
	}
}
.pb-m{
	padding: 60px 0; 
	@media screen and (min-width:768px) {
		padding: 100px 0;
	}
}

// .container-l{
// 	max-width: 1332px;
// 	width: 100%;
// 	padding: 0 16px;
// 	margin: 0 auto;
// 	@media screen and (min-width:1024px) and (max-width:1239.9px){
// 		padding: 0 16px 0 48px;
// 	}
// 	@media screen and (min-width:1240px) {
// 		padding: 0 16px 0 56px;
// 	}
// }

body{
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28.8px;
	background-color: $white-200;
}

.logo{
	max-width: 156px;
	@media screen and (min-width:768px) {
		max-width: 195px;
	}
	img{
		max-width: 100%;
		max-height: 100%;
	}
}

.justify-title{
	display: flex;
	
	justify-content: space-between;
	gap: 12px;
	margin-bottom: 24px;
	flex-direction: column;
	@media screen and (min-width:1024px) {
		margin-bottom: 40px;
		flex-direction: row;
		align-items: center;
	}
	.title{
		max-width: 555px;
	}
	p{
		max-width: 505px;
		color: $text;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
	}
	
}
// .center-title{
// 		text-align: center;
// 		margin-bottom: 32px;
// 		margin: 32px auto;
// 	@media screen and (min-width:1024px) and (max-width:1239.9px) {
// 		margin: 46px auto;
// 	}
// 	@media screen and (min-width:1240px) {
// 		margin: 72px auto 46px auto;
// 	}
// 		& .simple{
// 			margin-bottom: 16px;
// 			@media screen and (min-width:1024px) {
// 			margin-bottom: 20px;
// 		}
// 		}
// 		h1{
// 			margin-bottom: 16px;
// 		}
// 		hr{
// 			max-width: 60px;
// 			height: 1px;
// 			background-color: $accent;
// 			padding: 0;
// 			border: none;
// 		}
	
// }

.btn{
	display: flex;
	padding: 12px 16px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: $white;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.14px;
	border: 1px solid transparent;
	transition: 600ms ease-out;
	border-radius: 14px;
	max-width: fit-content;
	width: 100%;
	&.btn-primary{
		background-color: $accent;
		&:hover{
			background-color: $accent-100;
		}
		&:active{
			background-color: $accent-200;
		}
	}
	&.btn-secondary{
		background-color: $gray-100;
		&:hover{
			background-color: $primary-200;
		}
		&:active{
			background-color: $primary-300;
		}
	}
	&.btn-third{
		background-color: $accent-300;
		border-radius: 8px;
		padding: 10px 20px;
		&:hover{
			background-color: $accent;
		}
		&:active{
			background-color: $accent-400;
		}
	}
	&.btn-forth{
		background-color: $white;
		border-color: $accent;
		color: $accent;
		border-radius: 8px;
		&:hover{
			background-color: $accent-300;
			color: $white;
		}
		&:active{
			background-color: $accent-500;
			color: $white;
		}
		&.btn-five{
			border-radius: 10px;
			padding: 18px 48px;
			background-color:$primary-100;
			&:hover{
			background-color: $primary;
		}
		&:active{
			background-color: $accent-500;
		}
		}

	}
	svg{
		path{
			transition: 600ms ease-out;
		}
	}
}
.lang{
	background-color: $primary-200;
	position: relative;
	border-radius: 10px;
		&:hover{
			.current{
				background-color: $primary-200;
			}
			ul.lang__dropdown{
				height: fit-content;
				visibility: visible;
				opacity: 1;
			}
		}
	&__current{
		background-color: $primary-200;
		padding:12px 10px;
		border-radius: 10px;
		display: flex;
		align-items: center;
		gap: 4px;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-transform: uppercase;
		color: $white;
		z-index: 5;
		position: relative;
	
	}
	ul.lang__dropdown{
		position: absolute;
		top: 12px;
		width: 100%;
		height: 0;
		padding: 35px 6px 8px 6px;
		background-color: $gray;
		transition: 600ms ease-out;
		border-radius: 0 0 6px 6px;
		opacity: 0;
		visibility: hidden;
		color: $white;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-transform: uppercase;
		z-index: 4;
		&:hover{
			background-color: $text;
		}
		li{
			padding: 6px 0;
			text-align: center;
		}

	}

}
// .burger-filters{
// 	cursor: pointer;
// 	width: 24px;
// height: 24px;
// 	}
.overlay{
			position: fixed;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100vw;
			height: 100vh;
			background: rgba(9, 87, 195, 0.50);
			z-index: -5;
			opacity: 0;
			visibility:hidden;
			transition: .3s linear;
			
			.open-filter &{
				z-index: 1;
				opacity: 1;
				visibility: visible;
			}
		}
.target{
		&__list{
		display: flex;
		flex-wrap: nowrap;
		gap: 10px;
		overflow: hidden;
		overflow-x: auto;
		padding-left: 16px;
		padding-right: 16px;
		@media screen and (min-width:768px) {
			flex-wrap: wrap;
			max-width: calc(100% - 128px);
			padding-left: 0;
			padding-right: 0px;
		}
		&-item{
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px 24px;
			border-radius: 8px;
			border: 0.5px solid $gray;
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			min-width: fit-content;
			color: $text;
			cursor: pointer;
			transition: 600ms ease-out;
			&:hover{
				background-color: $gray;
				color: $white;
				border-color: $gray;
			}
			&.active{
				background-color: $primary-100;
				color: $white;
				border-color: $primary-100;
			}
			.color &{
				color: $white;
				&:hover{
				background-color: $primary-200;
				color: $white;
			}
			&.active{
				background-color: $accent;
				color: $white;
			}
			}
		}

	}
}
.arrows{
	display: flex;
	align-items: center;
	gap: 12px;
	@media screen and (max-width:767.9px) {
		display: none;
	}
}
.arrow{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px;
	border-radius: 50%;
	max-width: 48px;
	max-height: 48px;
	width: 100%;
	height: 100%;
	border: 1px solid $primary-200;
	background-color: $primary;
	aspect-ratio: 1;
	cursor: pointer;
	.color &{
		background-color: $white;
		border-color: $white;
		svg path{
			stroke:$primary;
		}
	}
	svg path{
		transition: 600ms ease-out;
		stroke: $white;
	}
	&.swiper-button-disabled{
		background-color: $white;
		cursor: not-allowed;
		.color & {
			background-color: transparent;
			svg path{
				stroke:$white;
			}
		}
		svg path{
			stroke:$primary;
		}
	}
	&.swiper-button-lock{
		display: none;
	}
}




// .breadcrumbs{
// 	padding: 24px 0px;
// 	position: relative;

// 	@media screen and (min-width:768px) {
// 	padding: 32px 0px;
// 	}

// 	&__container{
// 		display: flex;
// 		gap: 8px;
// 		align-items: center;
// 		flex-wrap: wrap;
// 	}

// 		a{
// 			color: $gray-100;
// 			font-size: 14px;
// 			font-style: normal;
// 			font-weight: 400;
// 			line-height: 21px;
// 			transition: background-size 600ms ease-out;
// 			text-decoration: none;
// 			background-image: linear-gradient($black, $black);
// 			background-repeat: no-repeat;
// 			background-size: 0% 1px;
// 			background-position: 0 100%;

// 			&:hover {
// 				background-size: 100% 1px;
// 			}		
// 		}
// 		span{
// 			font-size: 14px;
// 			font-style: normal;
// 			font-weight: 400;
// 			line-height: 21px;				
// 			&:nth-last-of-type(1){
// 				color: $black;
// 			}
// 		}
// }
.accord {
    display: flex;
    flex-direction: column;
}

.accord-item {
    max-width: 100%;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s linear;
}

.accord-item-top {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: 0.3s linear;
}

.accord-item-bottom {
		margin-top: -16px;
		padding: 16px 0 0 0;
   	transition: all 300ms linear;
		will-change: opacity, max-height, visibility;				
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		will-change: opacity, max-height;
		transition: margin-top 300ms linear,opacity 300ms linear, transform 300ms linear, max-height 300ms linear, visibility 300ms linear, padding 300ms linear;	
	}

.icon-wrapper {
    position: relative;
    margin-left: auto;
}

.accord-item.active .accord-item-bottom {
	visibility: visible;
	opacity: 0;
	max-height: 5000px;
	overflow: visible;
	opacity: 1;
	padding: 32px 0 0 0 ;
	margin-top:-16px;
	transition: margin-top 300ms linear,opacity 300ms linear, transform 300ms linear, max-height 300ms linear, visibility 300ms linear, padding 300ms linear;	

}
.filters-icon-wrapper{
	transition: 600ms ease-out;
}
.catalog__filters__item.active  .filters-icon-wrapper{
	transform: rotate(180deg);
}


.accord-icon-wrapper{
	transition:600ms ease-out;
	
}