
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_18pt-Light.ttf);
	font-weight: 300;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_18pt-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_18pt-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_18pt-SemiBold.ttf);
	font-weight: 600;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_24pt-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: "Inter";
	src: url(../fonts/Inter_18pt-MediumItalic.ttf);
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "Manrope";
	src: url(../fonts/Manrope-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: "Manrope";
	src: url(../fonts/Manrope-SemiBold.ttf);
	font-weight: 600;
}
 
	$black: #111;
	$gray: #888;
	$gray-100: #555;
	$white: #fff;
	$white-100: #FDFCF8;
	$white-200: #E5E5E5;
	$white-300:#CCC;
	$white-400:#F5F5F0;
	$accent:#C8B290;
	$accent-100:#E8DCC6;
	$accent-200:#EFC67C;
	$accent-300:#B2806F;
	$accent-secondary:#E93D82;


h1{
	color: $black;
	font-family: "Manrope";
	font-size: 28px;
	font-style: normal;
	font-weight: 500;
	line-height: 42px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	@media screen and (min-width:768px) {
		font-size: 36px;
		line-height: 40px; 
	}
}

h2{
		font-family: "Manrope";
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 36px; 
		letter-spacing: 0.9px;
		text-transform: uppercase;
	@media screen and (min-width:768px) {
		font-size: 36px;
		line-height: 40px; 
		}
}

// h3{
// 	font-size: 24px;
// 	font-style: normal;
// 	font-weight: 700;
// 	line-height: 130%;
// 	@media screen and (min-width:768px) {
// 		font-size: 30px;
// 	}
// }
html.open,
html.open-popup,
html.open-filter{
	overflow: hidden;
}
body:has(main > .inst) footer {
	background-color: $white-400;
}
.container{
	max-width: 1282px;
	width: 100%;
	padding: 0 16px;
	margin: 0 auto;
}
.container-l{
	max-width: 1332px;
	width: 100%;
	padding: 0 16px;
	margin: 0 auto;
	@media screen and (min-width:1024px) and (max-width:1239.9px){
		padding: 0 16px 0 48px;
	}
	@media screen and (min-width:1240px) {
		padding: 0 16px 0 56px;
	}
}


body{
	font-family: "Inter";
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 28.8px;
}

.logo{

	img{
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
	}
}

.justify-title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 24px;
	@media screen and (min-width:1024px) {
		margin-bottom: 48px;
	}
}
.center-title{
		text-align: center;
		margin-bottom: 32px;
		margin: 32px auto;
	@media screen and (min-width:1024px) and (max-width:1239.9px) {
		margin: 46px auto;
	}
	@media screen and (min-width:1240px) {
		margin: 72px auto 46px auto;
	}
		& .simple{
			margin-bottom: 16px;
			@media screen and (min-width:1024px) {
			margin-bottom: 20px;
		}
		}
		h1{
			margin-bottom: 16px;
		}
		hr{
			max-width: 60px;
			height: 1px;
			background-color: $accent;
			padding: 0;
			border: none;
		}
	
}

.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 11px 31px;
	border: 1px solid transparent;
	text-align: center;
	font-family: "Manrope";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	gap: 8px;
	color: $white;
	background-color: $black;
	border-radius: 16777200px;
	transition: 600ms ease-out;
	&:hover{
		color: $accent;
		text-decoration: underline;
		svg path{
			stroke:$accent;
		}
	}
	&:active{
		background-color: $accent;
		color: $black;
		svg path{
			stroke:$black;
		}
	}
	svg{
		path{
			transition: 600ms ease-out;
		}
	}
}

.burger-filters{
	cursor: pointer;
	width: 24px;
height: 24px;
	}
.overlay{
			position: fixed;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100vw;
			height: 100vh;
			background: rgba(0, 0, 0, 0.60);
			z-index: -5;
			opacity: 0;
			visibility:hidden;
			transition: .3s linear;
			.open &,
			.open-filter &{
				z-index: 1;
				opacity: 1;
				visibility: visible;
			}
		}
.breadcrumbs{
	padding: 24px 0px;
	position: relative;

	@media screen and (min-width:768px) {
	padding: 32px 0px;
	}

	&__container{
		display: flex;
		gap: 8px;
		align-items: center;
	}

		a{
			color: $gray-100;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 21px;
			transition: background-size 600ms ease-out;
			text-decoration: none;
			background-image: linear-gradient($black, $black);
			background-repeat: no-repeat;
			background-size: 0% 1px;
			background-position: 0 100%;

			&:hover {
				background-size: 100% 1px;
			}		
		}
		span{
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 21px;				
			&:nth-last-of-type(1){
				color: $black;
			}
		}
}
.accord {
    display: flex;
    flex-direction: column;
}

.accord-item {
    max-width: 100%;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s linear;
}

.accord-item-top {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: 0.3s linear;
}

.accord-item-bottom {
		margin-top: -16px;
		padding: 16px 0 0 0;
   	transition: all 300ms linear;
		will-change: opacity, max-height, visibility;				
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		will-change: opacity, max-height;
		transition: margin-top 300ms linear,opacity 300ms linear, transform 300ms linear, max-height 300ms linear, visibility 300ms linear, padding 300ms linear;	
	}

.icon-wrapper {
    position: relative;
    margin-left: auto;
}

.accord-item.active .accord-item-bottom {
	visibility: visible;
	opacity: 0;
	max-height: 5000px;
	overflow: visible;
	opacity: 1;
	padding: 32px 0 0 0 ;
	margin-top:-16px;
	transition: margin-top 300ms linear,opacity 300ms linear, transform 300ms linear, max-height 300ms linear, visibility 300ms linear, padding 300ms linear;	

}
.filters-icon-wrapper{
	transition: 600ms ease-out;
}
.catalog__filters__item.active  .filters-icon-wrapper{
	transform: rotate(180deg);
}
.pagination{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	&-wrap{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4px;
		span{
			display: inline-block;
			padding: 8px  15px;
			border-radius: 8px;
			border: 1px solid transparent;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px; /* 142.857% */
			letter-spacing: -0.15px;
			cursor: pointer;
			transition: 600ms ease-out;
			&.current{
				border-color: $accent;
			}
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&-arrow{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4px;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px; 
		letter-spacing: -0.15px;
		transition: border-bottom-color 600ms ease-out;
		border-bottom: 1px solid transparent;
		svg{
			width: 16px;
			height: 16px;
		}
		&.disable{
			opacity: .1;
			cursor:not-allowed;
			&:hover{
				border-bottom-color:transparent ;
			}
		}
		&:hover{
			border-bottom-color:$black ;
		}
	}
}

.accord-icon-wrapper{
	transition:600ms ease-out;
	
}
.simple{
	display: inline-flex;
	align-items: center;
	gap: 12px;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px; 
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $accent;
	margin-bottom: 12px;
	@media screen and (min-width:1024px) {
	margin-bottom: 32px;
	}
}
		
		
.info__title{
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 32px;
	@media screen and (min-width:1024px) and (max-width:1240px) {
			margin-bottom: 40px;
		}
	&-icon{
		border-radius: 50%;
		background-color: $accent-100;
		max-width: 40px;
		max-height: 40px;
		width: 100%;
		height: 100%;
		aspect-ratio: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		svg{
			max-width: 20px;
		}
	}
	h2{
		font-family: "Manrope", sans-serif;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 36px;
		text-transform: none;
		@media screen and (min-width:1024px) and (max-width:1240px) {
			font-size: 30px;
		}
		@media screen and  (min-width:1240px) {
			font-size: 28px;
		}
	}
	span{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4px 8px;
		background-color: $accent;
		border-radius: 4px;
		font-family: "Manrope";
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px; 
		letter-spacing: 0.6px;
		text-transform: uppercase;
		width: fit-content;
		color: $white;
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			font-size: 12px;
			line-height: 18px; 
			font-weight: 700;
		}
	}

}

.row-content{
		width: calc(100% - 39% - 24px);
		@media screen and (min-width:1240px) {
			width: calc(100% - 33% - 42px);
		}
		@media screen and (max-width:1023.9px) {
		width: 100%;
		}
		p{
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 26px;
				color: $gray-100;
				margin-bottom: 32px;
					@media screen and (min-width:1024px) and (max-width:1240px) {
					font-size: 18px;
					font-style: normal;
					font-weight: 300;
					line-height: 32px;
					margin-bottom: 40px;
				}
			}
}
.row-img{
		position: sticky;
		top: 0;
		right: 0;
		width: 39%;
		max-height: 600px;
		height: 100%;
		display: flex;
		@media screen and (min-width:1240px) {
			width: 33%;
		}
		@media screen and (max-width:1023.9px) {
			display: none;
		}
		&:before{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.00) 100%);
			z-index: 1;
		}
		& img{
			&:nth-of-type(1){
				object-fit: cover;
			}
			&:nth-of-type(2){
				position: absolute;
				bottom: 26px;
				left: 26px;
				max-width: 294px;
				width: 100%;
				z-index: 2;
			}
		}
	}
	.row-wrap{
		display: flex;
		gap: 24px;
		@media screen and (min-width:1240px) {
			gap: 42px;
		}
	}
		.product__count,
		.counter{
			display: flex;
			align-items: center;
			gap: 6px;
			background-color: transparent;
			border-radius: 500px;
			border: 1px solid $white-200;
			font-family: "Manrope";
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 28px; 
			padding: 2px 2px;
			max-width: 156px;
			width: 100%;
			justify-content: space-around;
			span{
				padding: 12px;
			}
			button{
				border: none;
				outline: transparent;
				background-color: transparent;
				height: fit-content;
				padding: 7px;
				display: flex;
				align-items: center;
				justify-content: center;
				
			}
			input{
				-webkit-appearance: none;
				-moz-appearance: textfield;
				appearance: none;
				border: none;
				margin: 0;
				max-width: 12px;
				min-width: 6px;
				outline: none;
				text-align: center;
				width: 100%;
				background-color: transparent;
				min-width:6px;
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}